footer{
  background:$color-brand-1;
}

.footer{
  &__brand{
    @include remove-link-interaction();
    display:inline-block;
    width:100px;
    margin-right:30px;
  }
  .container{
    display:flex;
    align-items:center;
  }
}